<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQC3EpD8iEtJgsJtEEmvaCHchf2DW39Sw</string>
	<key>GCM_SENDER_ID</key>
	<string>22471713389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navigator</string>
	<key>PROJECT_ID</key>
	<string>jakaria-61fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>jakaria-61fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22471713389:ios:9d03c514e8f95fec911564</string>
</dict>
</plist>